<button class="popular-black">Popular Makes
</button></p>

<div class="car-gallery">
  <a href="<%= mercedes_path %>" style="text-decoration: none" >
    <div class="car-item">
      <%= image_tag('make/mercedes-benz.avif', alt: 'Mercedes') %>
      <p>Mercedes</p>
    </div>
  </a>

  <a href="<%= toyota_path %>" style="text-decoration: none" >
    <div class="car-item">
      <%= image_tag('make/toyota.avif', alt: 'Toyota') %>
      <p>Toyota</p>
    </div>
  </a>

  <a href="<%= audi_path %>" style="text-decoration: none" >
    <div class="car-item">
      <%= image_tag('make/audi.avif', alt: 'Audi') %>
      <p>Audi</p>
    </div>
  </a>

  <a href="<%= bmw_path %>" style="text-decoration: none" >
    <div class="car-item">
      <%= image_tag('make/bmw.avif', alt: 'BMW') %>
      <p>BMW</p>
    </div>
  </a>
  <a href="<%= ford_path %>" style="text-decoration: none" >
    <div class="car-item">
      <%= image_tag('make/ford.avif', alt: 'Ford') %>
      <p>Ford</p>
    </div>
  </a>
  <a href="<%= nissan_path %>" style="text-decoration: none" >
    <div class="car-item">
      <%= image_tag('make/nissan.avif', alt: 'Nissan') %>
      <p>Nissan</p>
    </div>
  </a>
  <a href="<%= peugeot_path %>" style="text-decoration: none" >
    <div class="car-item">
      <%= image_tag('make/peugeot.avif', alt: 'Peugeot') %>
      <p>Peugeot</p>
    </div>
  </a>

  <a href="<%= volkswagen_path %>" style="text-decoration: none" >
    <div class="car-item">
      <%= image_tag('make/volkswagen.avif', alt: 'Volkswagen') %>
      <p>Volkswagen</p>
    </div>
  </a>
</div>
