<% content_for :title, "Mercedes-Benz Cars for Sale - AutoBidHub" %>
<% content_for :meta_description, "Explore a wide selection of new and used Mercedes-Benz cars for sale. Find luxury sedans, SUVs, and performance vehicles at unbeatable prices." %>
<% content_for :meta_keywords, "Mercedes, Mercedes-Benz, luxury cars, used Mercedes, new Mercedes, Mercedes SUV" %>
<% content_for :meta_og_image, "https://res.cloudinary.com/drxr1eiwp/image/upload/v1736120637/472148744_3805889709677205_3384986736646035041_n_bckvlz.jpg" %>

<div class="makes-hero">
    <div class="hero-about-overlay"></div>
    <div class="hero-about-text">
      <h1>Mercedes In AutozBid </h1>
      <p>Your #1 Destination for Useds/New Cars and Engines </p>
    </div>
  </div>
<div class="content-wrapper">
  <div class="home-makes-section">
    <div class="make-item">
    <%= image_tag('make/mercedes-benz.avif', alt: 'Mercedes') %>
    <p style="margin-left: 10px;">Mercedes</p>
  </div>
  <div><p>
      Mercedes-Benz vehicles are among the most sought-after in the pre-owned market.
    </p></div>
  </div>
  <div class="makes-main-content">
  <h1> Recommended Used Cars </h1>
    <div id="car-list">
    <% if @paginated_items.present? %>
      <% @paginated_items.each do |car| %>
        <a href="<%= car_path(car) %>" class="card">
          <% if car.photos.present? %>
            <%= image_tag car.photos.first, alt: car.make, class: "car-image" %>
          <% else %>
            <div class="no-photo"> No photo available </div>
          <% end %>
          <div class="card-info">
            <h4><%= car.make %> <%= car.model %> <%= car.year %></h4>
            <p>
              <i class="fas fa-tachometer-alt"></i>
              Millage: <%= car.chassis_no %> Mi
            </p>
            <p class="price">Price: $<%= car.price %></p>
          </div>
        </a>
      <% end %>
      <% else %>
        no cars in this category
      <% end %>

  </div>
    <div class="pagination-container">
    <%= paginate @paginated_items %>
  </div>
</div>
</div>
<div class="used-car-promo">
    <div class="promo-content">
      <h3>Buy or Sell Mercedes-Benz Vehicles – The Pinnacle of Luxury and Performance </h3>
      <p>
        Mercedes-Benz represents timeless luxury, cutting-edge innovation, and superior performance. Whether you're buying or selling
        a refined sedan like the <strong>Mercedes-Benz E-Class</strong>, a commanding SUV like the <strong>Mercedes-Benz GLE</strong>,
        or a high-performance model like the <strong>Mercedes-AMG</strong>, our platform ensures a seamless experience for all Mercedes-Benz enthusiasts.
      </p>
      <ul>
        <li><strong>Unmatched Elegance:</strong> Mercedes-Benz is synonymous with luxury, delivering unparalleled comfort and craftsmanship.</li>
        <li><strong>Certified Pre-Owned Assurance:</strong> Find inspected, warrantied vehicles for peace of mind and exceptional quality.</li>
        <li><strong>Diverse Range:</strong> Choose from sporty coupes like the <strong>Mercedes-Benz C-Class</strong> to the flagship
        <strong>Mercedes-Benz S-Class</strong>.</li>
        <li><strong>Effortless Transactions:</strong> Sell your Mercedes-Benz quickly or discover deals through exclusive auctions.</li>
        <li><strong>Innovative Technology:</strong> Explore models featuring Mercedes-Benz’s industry-leading infotainment and safety systems.</li>
      </ul>

    </div>
    <div class="promo-image">
      <%= image_tag "mercedes.png", alt: "Premium Audi cars ready for sale and auction" %>
    </div>
  </div>
