<p class="checkout-total" >Your Cart Items</p>
<%= turbo_frame_tag "checkout-line-items" do %>
    <% if @line_items.any? %>
        <% @line_items.each do |item| %>
            <div id="line_item_<%= item.id %>">
                <div class="order-items">
                    <div class="order-item">
                    <%= image_tag item.engine.engineable.photos.first, alt: item.engine.title, class: "bike-thumbnail" %>
                    <div>
                        <p><strong>Engine Ordered:</strong> <%= "#{item.engine.title}" %></p>
                        <p>Quantity: <%= item.quantity %>  | <strong>Total:</strong> <%= number_to_currency(item.total) %></p>
                        <%= button_to(
                            "<i class='fa-solid fa-trash'></i>".html_safe,
                            cart_remove_item_path(item.id),
                            method: :post,
                            form: { data: { turbo_confirm: "Are you sure?" } },
                            class: "text-rd"
                        ) %>
                    </div>
                    </div>
                </div>
            </div>   
        <% end %>
  <p class="checkout-total" >Total: <%= number_to_currency(@cart.total) %></p>

    <% else %>
    <div  style="margin: 100px; text-align: center;">
        <p style="font-weight: 600;">Your Cart is Empty</p>
        <%= link_to "return To Engines", root_path, data: { turbo_frame: "_top" } %>
     </div>
  <% end %>
<% end %>
  <%= link_to "Purchase",  new_cart_purchase_path(@cart), class: "checkout-success" %>