<% content_for :title, "Cars for Sale - New & Used Vehicles at AutoBidHub" %>
<% content_for :meta_description, "Browse a huge selection of new and used cars for sale. Find sedans, SUVs, trucks, and luxury cars at unbeatable prices. Compare models and get the best deals today!" %>
<% content_for :meta_keywords, "cars for sale, used cars, new cars, buy cars online, car dealership, SUVs, sedans, trucks, luxury cars, affordable cars" %>

<% content_for :meta_og_title, "Cars for Sale - Best Deals on New & Used Vehicles" %>
<% content_for :meta_og_description, "Find your dream car! Explore new and used cars, including sedans, SUVs, and luxury vehicles. Get the best deals on high-quality cars today!" %>
<% content_for :meta_og_image, "https://res.cloudinary.com/drxr1eiwp/image/upload/v1735674486/2018-Mazda-CX-5-20-Dynamic-Auto_1_yoittd.avif" %>

<div class="content-wrapper">
  <div class="makes-section">
    <%= render "shared/filter_form" %>

  </div>
  <div class="main-content">
  <h3>Cars For Sale (New and Used)</h3>
  <div id="car-list">
    <% @paginated_items.each do |car| %>
      <a href="<%= car_path(car) %>" class="card">
        <% if car.photos.present? %>
          <%= image_tag car.photos.first, alt: car.make, class: "car-image" %>
        <% else %>
          <div class="no-photo">No photo available</div>
        <% end %>
        <div class="card-info">
          <h4><%= car.make %> <%= car.model %> <%= car.year %></h4>
        <p>
          <i class="fas fa-tachometer-alt"></i>
          Millage: <%= car.chassis_no %> Mi
        </p>
        <p class="price">Price: $<%= car.price %></p>
      </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
<div class="pagination-container">
  <%= paginate @paginated_items %>
</div>
