<!DOCTYPE html>
<html>
  <head>
    <title>Auto Bid | Buy, Sell & Bid on Cars and Engines at the Best Prices</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Drive your dream car today! 🚗💨 AutoBidHub offers top-quality new & used cars at unbeatable prices. Buy, sell, or trade with confidence. Visit us for the best deals & exceptional service!">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="<%= yield(:meta_keywords) || 'cars, engines, auto, sale' %>">
    <link rel="icon" href="<%= asset_path 'logoo.jpg' %>" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="google-site-verification" content="V2KrYJMDaekQp9maE180h_uNa0CNDfJ7QszjXAw6Q1w"/>
</head>

  </head>

  <body>
    <a href="https://wa.me/+237671981743" target="_blank" id="whatsapp-button">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" style="width: 60px; height: 60px;" />
    </a>
    <%= render "shared/nav" %>
    <%= yield %>
    <%= render "shared/flashes" %>
    <%= render "shared/footer" %>
  </body>
</html>
